@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .masonry {
    column-gap: 2;
    column-count: 1;
  }
  .masonry-sm {
    column-gap: 4;
    column-count: 2;
  }
  .masonry-md {
    column-gap: 4;
    column-count: 3;
  }
  .break-inside {
    break-inside: avoid;
  }
}

@layer components {
  .cardHover {
    @apply hover:bg-merah-50 duration-100    hover:divide-merah-200  transition hover:ring-merah-200     dark:hover:bg-gelap-800    dark:hover:divide-gelap-700  dark:hover:ring-gelap-700;
  }
  .headline {
    @apply text-balance mb-4 md:mb-6 py-2 md:text-4xl  text-3xl font-bold;
  }
  .subheadline {
    @apply mt-3 mb-6 text-center max-w-3xl text-lg md:text-2xl tracking-wide m-0 p-0 text-merah-950 dark:text-kuning mx-auto;
  }
}

@layer base {
  html {
    @apply text-[17px]  scroll-smooth;
  }
  body {
    @apply font-body bg-slate-50 dark:bg-slate-950 text-merah-900  dark:text-slate-300;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-title  font-black text-merah-600 dark:text-slate-300 tracking-tight text-balance;
  }
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}
/* create a smooth beautifal fade in keyframe animation */
.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: translateY(1rem);
}
